<section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row">
      <div class="col-lg-4">
        
        <!-- <div class="card mb-4">
          <div class="card-body text-center">
            
          </div>
        </div> -->


      </div>
      <div class="col-lg-8">

        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Johnatan Smith</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">example@example.com</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(097) 234-5678</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(098) 765-4321</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
              </div>
            </div>
          </div>
        </div>

     
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 mb-md-0">

              <div class="card-body">
                <mat-form-field>
                  <mat-label>Filter</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                </mat-form-field>
                
                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource" matSort>
                
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>
                
                    <!-- Progress Column -->
                    <ng-container matColumnDef="firstName">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                      <td mat-cell *matCellDef="let row"> {{row.firstName}}</td>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                    </ng-container>
                
                    <!-- Fruit Column -->
                    <ng-container matColumnDef="education">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Education </th>
                      <td mat-cell *matCellDef="let row"> {{row.education}} </td>
                    </ng-container>

                    <ng-container matColumnDef="experience">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Experience </th>
                      <td mat-cell *matCellDef="let row"> {{row.experience}} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                  </table>
                
                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                </div>
                
                
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>