<div class="container">
    <form class="row g-3" [formGroup]="newForm" (ngSubmit)="onSubmmit()">
        <div class="col-auto">
          <label for="staticEmail2" class="visually-hidden">Email</label>
          <input type="text" class="form-control-plaintext" placeholder="email@example.com" formControlName="email">
        </div>
        <div class="col-auto">
          <label for="inputPassword2" class="visually-hidden">Password</label>
          <input type="password" class="form-control" placeholder="Password" formControlName="password">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Confirm</button>
        </div>
      </form>
</div>